<div class="row">
    <div class="d-flex align-items-center col-2">
      <img id="logo-ArgentinaPrograma" src="src/assets/img/logoArgentinaPrograma negro.png" alt="Logo Argentina Programa">
    </div>
    <div class="col-10">
      <ul class="header">
          <li>
            <a href="https://https://www.linkedin.com/in/analia-escalada-49903b223/" target="_blank">
                <i class="fa-brands fa-linkedin"></i><!--íconos de FontAwesome-->
            </a>

          </li>
          <li>
              <a href="https://wa.me/qr/VKAMZLMKH3K3J1" target="_blank">
                <i class="fa-brands fa-whatsapp"></i>
              </a>

          </li>
          <li>
              <button type="button" class="btn btn-outline-primary">Login</button>
          </li>
      </ul>


    </div>
</div>

<!--</div>-->
<div class="container"> 
<div class="row">
    <img  id="banner"  src="src/assets/img/imagen fondo 4.jpeg" alt="Banner">

</div>

</div>

<div class="container my-5">
<div class="row">
<div class="col-md-2">
  <img class="rounded float-start" src="src/assets/img/foto-Analia.jpg" alt="Foto perfil">
</div>
<div class="col-md-10">
  <h1>Analia Escalada</h1>
  <a href="mailto:analiaescalada33@gmail.com" type="button" class="btn btn-outline-primary">
  analiaescalada33@gmail.com
  </a>
  <p class="lead">
  Full Stack Developer
  </p>
</div>
</div>
</div>
